* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #38533b;
}

body
{
    background-color: #446248;
    min-height:  100vh;
    display: grid;
    place-items: center;
}

.calculator
{
    background-color: #7D9B84;
    padding: 20px;
    border-radius: 10px 40PX;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;


}
.display
{
    grid-column: 1 / 5;
    background-color: #8FAE98;
    padding: 4%;
    border-radius: 1.1rem;
    font-size: 2rem;
    text-align: right;
    font-weight: bold;
  
}

.btn
{
    background-color: #6e8f77;
    padding: 20%;
    font-size: 1.5rem;
    border: none;
    border-radius: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn:hover
{
    background-color: #8FAE98;
}

#zero
{
    grid-column: span 2;
    height: 10px;
}

#equal
{
   height: 220%;
    background-color: #4f7058;
}

#equal:hover{
    background-color: #5a7b63;
}